@model AutoGrader.Models.ViewModels.ClassViewModel

@{
    ViewData["Title"] = "CreateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /*
    UserDataService userDataService = new UserDataService(dbContext);
    User user = userDataService.GetUserByUsername(UserManager.GetUserName(User));

    if (user.Role == "Student")
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/layout2.cshtml";

    try
    {
        if(Model.InstructorId == null)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/layout2.cshtml";
        }
    }
    catch
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*/
}

<h2>Create Class</h2>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="CreateClass">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ClassKey" class="control-label"></label>
				<input asp-for="ClassKey" class="form-control" />
				<span asp-validation-for="ClassKey" class="text-danger"></span>
			</div>
			<div class="hidden">
				<label asp-for="InstructorId" class="control-label"></label>
				<textarea asp-for="InstructorId" class="form-control">@Model.InstructorId</textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
