@model IEnumerable<AutoGrader.Models.Assignment.Assignment>

@{
    ViewData["Title"] = "InstructorGradeByAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InstructorGradeByAssignment</h2>

