@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>
    This project is open source at: <a href="https://github.com/AlexDerr/AutoGrader">https://github.com/AlexDerr/AutoGrader</a>. <br />
    To report bugs please leave issues on the github repo.<br /> <br />
    If you would like to contact one of us directly feel free to contact me (Alex Derr) through email at (Alex dot Derr at trojans dot dsu dot edu) or in slack, @@AlexDerr. <br />
</p>