@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-6" style="text-align: center">
		<a class="btn" asp-area="Identity" asp-page="/Account/Login" style="margin-top:50%">Login to AutoGrader</a>
	</div>
	<div class="col-md-6" style="text-align: center">
		<a class="btn" asp-area="Identity" asp-page="/Account/Register" style="margin-top: 50%">Register for AutoGrader</a>
	</div>
</div>