@model AutoGrader.Models.ViewModels.AssignmentViewModel

@{
	ViewData["Title"] = "Create Assignment";
}



<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreateAssignment">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label"></label>
				<input type="datetime-local" asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label"></label>
				<input type="datetime-local" asp-for="EndDate" class="form-control" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MemoryLimit" class="control-label"></label>
				<input asp-for="MemoryLimit" class="form-control" />
				<span asp-validation-for="MemoryLimit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TimeLimit" class="control-label"></label>
				<input asp-for="TimeLimit" class="form-control" />
				<span asp-validation-for="TimeLimit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<lablel class="control-label">Language</lablel>
				<select asp-for="Languages" class="form-control" style="color: black">
					<option value="C">C</option>
					<option value="C++">C++</option>
					<option value="Java">Java</option>
				</select>
				<span asp-validation-for="Languages" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NumberOfTestCases" class="control-label"></label>
				<input asp-for="NumberOfTestCases" class="form-control" onchange="TestCasesOnChange()" id="NumberOfTestCases" />
				<span asp-validation-for="NumberOfTestCases" class="text-danger"></span>
			</div>

			<div id="TestCaseList">
			</div>

			<script type="text/javascript">
				function TestCasesOnChange() {
					var x = document.getElementById("NumberOfTestCases").value;
					var temp = "";
					for (var i = 0; i < x; i++) {
						temp +=
							'<div class="form-group">' +
							'<label class="control-label" for="TestCases"> Test Case ' + (i + 1) + ' Input</label>' +
							'<textarea class="form-control" type="text" id="TestCases_' + i + '_" name="TestCases[' + i + '].Input"></textarea>' +
							'<span class="text-danger field-validation-valid" data-valmsg-for="TestCases" data-valmsg-replace="true"></span>' +
							'</div>' +
							'<div class="form-group">' +
							'<label class="control-label" for="TestCases"> Test Case ' + (i + 1) + ' Output</label>' +
							'<textarea class="form-control" type="text" id="TestCases_' + i + '_" name="TestCases[' + i + '].ExpectedOutput"></textarea>' +
							'<span class="text-danger field-validation-valid" data-valmsg-for="TestCases" data-valmsg-replace="true"></span>' +
							'</div>' +
							'<div class="form-group">' +
							'<label class="control-label" for="Feedback"> Feedback for Test Case ' + (i + 1) + '</label>' +
							'<textarea class="form-control" type="text" id="Feedbackl_' + i + '_" name="TestCases[' + i + '].Feedback"></textarea>' +
							'<span class="text-danger field-validation-valid" data-valmsg-for="TestCases" data-valmsg-replace="true"></span>' +
							'</div>';

					}
					document.getElementById("TestCaseList").innerHTML = temp;
				}
			</script>

			<div class="hidden">
				<label asp-for="ClassId" class="control-label"></label>
				<textarea asp-for="ClassId" class="form-control">@Model.ClassId</textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-default" asp-controller="Instructor" asp-action="Details" asp-route-id="@Model.ClassId" style="margin-right: 15px">Cancel</button>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

